---
layout: 'base.html'
canonical: 'Official link for that page (https://www.site.com)'
description: 'Meta description for the page'
metaTitle: 'Title that shows up on google searches'
tagTitle: 'Company Name | What They Do | Town and State'
permalink: '/'
---

<!-- 
This is to pre load any image above the fold, like hero section backgrounds.
If you do not have any images in your hero section that you need to preload, remove this 
block
-->

{% block preload %}
<link rel="preload" as="image" href="/assets/images/landing.jpg">
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/critical.css">
<link rel="stylesheet" href="/css/local.css">

<!--Defer loading the whole page css-->
<link rel="stylesheet" href="/css/local.css" media="print" onload="this.media='all'; this.onload=null;">
{% endblock %}

<!-- Enter html code below -->

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero">
    <div class="cs-container">
        <div class="cs-flex-group">
            <span class="cs-topper">mountain hiking society</span>
            <h1 class="cs-title">Explore the World with Exciting People</h1>
            <p class="cs-text">
                Tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius. Nibh tortor id aliquet lectus proin nibh condimentum.
            </p>
            <a href="" class="cs-button-solid">Explore More</a>
            <a href="" class="cs-button-transparent">
                <img class="cs-img" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg" alt="play icon" width="17" height="17">
                Learn More
            </a>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-picture" aria-hidden="true">
        <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/landing.jpg" alt="mountains" width="2250" height="1500">
    </picture>
</section>
                                

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services" class="services">
    <!-- Get Icons From flaticon.com -->
    <div class="card">
        <picture>
            <img aria-hidden="true" decoding="async" src="assets/images/service1.svg" alt="appliance" width="48" height="48">
        </picture>
        <h2>Service 1</h2>
        <p>
            Talk about the service with keywords people will be searching for it by. Keep it 1-2 sentences.
        </p>
    </div>
    <div class="card">
        <picture>
            <img aria-hidden="true" decoding="async" src="assets/images/service2.svg" alt="appliance" width="48" height="48">
        </picture>
        <h2>Service 2</h2>
        <p>
            Talk about the service with keywords people will be searching for it by. Keep it 1-2 sentences.
        </p>
    </div>
    <div class="card">
        <picture>
            <img aria-hidden="true" decoding="async" src="assets/images/service3.svg" alt="appliance" width="48" height="48">
        </picture>
        <h2>Service 3</h2>
        <p>
            Talk about the service with keywords people will be searching for it by. Keep it 1-2 sentences.
        </p>
    </div>
</section>

<!-- ============================================ -->
<!--                   About                      -->
<!-- ============================================ -->

<section id="sidebyside" class="sidebyside">
    <div class="container">
        <div class="content">
            <h2 class="title">Trusted home builders for (main city) for over 20 years</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam debitis dolor consectetur dolorem inventore modi tenetur ex odit, amet beatae ad, doloribus tempora quae ab nulla minus temporibus at veritatis!
                </p>
                <p>
                    <strong>A list if you need it:</strong>
                </p>
                <ul>
                <li>
                    <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/check.svg" alt="check mark" width="20" height="20">
                    <span>List item about something, this one is going to two lines so you can see what it looks like</span>
                </li>
                <li>
                    <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/check.svg" alt="check mark" width="20" height="20">
                    <span>List item about something</span>
                </li>
                <li>
                    <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/check.svg" alt="check mark" width="20" height="20">
                    <span>List item about something</span>
                </li>
                <li>
                    <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/check.svg" alt="check mark" width="20" height="20">
                    <span>List item about something</span>
                </li>
                <li>
                    <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/check.svg" alt="check mark" width="20" height="20">
                    <span>List item about something</span>
                </li>
            </ul>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium saepe laborum nam consequuntur porro inventore odio? Quod autem alias ratione cum reiciendis qui quaerat, sequi voluptatum voluptatibus, iusto itaque sed ullam. Quis, maiores corrupti. Rerum quo laudantium vero magnam tempora!
                </p>
                <a class="button-solid" href="/about">More About Us</a>
        </div>
        <picture class="image-box">
                <source media="(max-width: 600px)" srcset="assets/images/cabinets2-m.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/cabinets2.jpg">
                <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/cabinets2.jpg" alt="cabinets" width="400" height="662">
            </picture>
    </div>
</section>

<!-- ============================================ -->
<!--          Extra Content For Ranking           -->
<!-- ============================================ -->

<section id="sidebyside-reverse">
    <div class="container">
        <div class="content">
            <h2 class="title">Extra content, maybe talk about a main service</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam debitis dolor consectetur dolorem inventore modi tenetur ex odit, amet beatae ad, doloribus tempora quae ab nulla minus temporibus at veritatis!
                </p>
                <p>
                    <strong>A list if you need it:</strong>
                </p>
                <ul>
                <li>
                    <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/check.svg" alt="check mark" width="20" height="20">
                    <span>List item about something</span>
                </li>
                <li>
                    <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/check.svg" alt="check mark" width="20" height="20">
                    <span>List item about something</span>
                </li>
                <li>
                    <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/check.svg" alt="check mark" width="20" height="20">
                    <span>List item about something</span>
                </li>
                <li>
                    <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/check.svg" alt="check mark" width="20" height="20">
                    <span>List item about something</span>
                </li>
                <li>
                    <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/check.svg" alt="check mark" width="20" height="20">
                    <span>List item about something</span>
                </li>
            </ul>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium saepe laborum nam consequuntur porro inventore odio? Quod autem alias ratione cum reiciendis qui quaerat, sequi voluptatum voluptatibus, iusto itaque sed ullam. Quis, maiores corrupti. Rerum quo laudantium vero magnam tempora!
                </p>
                <a class="button-solid" href="/contact">Get Free Quote</a>
        </div>
        <picture class="image-box">
                <source media="(max-width: 600px)" srcset="assets/images/cabinets2-m.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/cabinets2.jpg">
                <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/cabinets2.jpg" alt="cabinets" width="400" height="662">
            </picture>
    </div>
</section>

<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">Get It Done <br> With Us Today</h2>
        <p>
            Say something catchy, informative, and encouraging to click the button to go to the contact page.  I like to add these to the bottom of all pages.
        </p>
        <a href="/contact" class="button-solid">Get an Estimate Now</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="assets/images/cabinets2-m.webp">
        <source media="(min-width: 601px)" srcset="assets/images/cabinets2.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/cabinets2.jpg" alt="kitchen cabinets" width="1920" height="1280">
        </picture>
</section>